[defaults]
nocows = True
remote_tmp = /tmp
local_tmp  = ../ansible/.ansible/tmp
roles_path = ../ansible/roles
pipelining = True
become = True
host_key_checking = False
deprecation_warnings = False
callback_whitelist = profile_tasks
#fact_caching=ansible.builtin.jsonfile
vault_password_file = ~/.ansible-vault-pass
