[defaults]
bin_ansible_callbacks = true
callback_result_format = yaml
callbacks_enabled = timer, profile_tasks
deprecation_warnings = False
fact_caching = memory
gathering = smart
host_key_checking = False
interpreter_python = auto_silent
inventory = inventory/
remote_user = root
result_format = yaml
retry_files_enabled = False
roles_path = ./roles:~/.ansible/roles
stdout_callback = default

[ssh_connection]
pipelining = True
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
